.download {
  position: relative;
  margin-bottom: 170px;
  .download_element {
    position: absolute;
    bottom: -77px;
    left: 34px;
  }
  .download__frame {
    display: flex;
    align-items: center;
    justify-content: end;
    background: #f8f8f8;
    border-radius: 20px;
    .download_left {
      .download__img {
        min-width: 302px;
        margin-right: 55px;
      }
    }
    .download__right {
      max-width: 541px;
      margin-right: 59px;
      .download__title {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
        color: #000000;
        margin: 23px 0 50px;
      }
      .download__list {
        display: flex;
        .download__link {
          width: 163px;
          margin-right: 10px;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 1280px) {
  .download {
    .download_element {
      display: none;
    }
    .download__frame {
      .download_left {
        .download__img {
          margin-right: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .download {
    .download__frame {
      flex-direction: column;
      align-items: start;
      background: none;
      .download_left {
        width: 100%;
        display: flex;
        height: 246px;
        background: #f8f8f8;
        border-radius: 20px;
        position: relative;
        justify-content: center;
        .download__img {
          position: absolute;
          bottom: 0;
          margin: 0;
        }
      }
      .download__right {
        margin: 0;
        .download__title {
          margin: 32px 0;
        }
        .download__list {
          display: flex;
          .download__link {
            width: 163px;
            margin-right: 10px;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .download__img {
    max-width: 302px;
  }
}

@media screen and (max-width: 400px) {
  .download__list {
    display: flex;
    flex-direction: column;
    .download__link {
      margin: 0;
      margin-bottom: 10px;
    }
  }
}

